/* ==============================
   MODERN MOODLE MOBILE UI
   ============================== */

/* Background */
ion-content {
  --background: #2662da !important;
}

/* Cards */
ion-card {
  background: red !important;
  border-radius: 20px !important;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08) !important;
  margin: 14px !important;
}

/* Titles */
ion-card-title {
  font-size: 18px !important;
  font-weight: 600 !important;
}

/* Remove lines */
ion-item {
  --inner-border-width: 0 !important;
  --padding-start: 18px !important;
  --padding-end: 18px !important;
}

/* Modern bottom bar */
ion-tab-bar {
  border-radius: 18px 18px 0 0 !important;
  box-shadow: 0 -4px 12px rgba(0,0,0,0.08) !important;

}

